@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

/* animated phone */

#phone-outer-container {
  font-size: 1.375rem;
  width: 100%;
  display: grid;
  place-items: center;
}

#image-container {
  position: relative;
  display: grid;
  place-items: center;
  width: auto;
  height: auto;
  margin: 3em auto;
}

#phone-depth {
  box-sizing: content-box;
  position: absolute;
  height: 12em;
  /* left: 12rem; */
  transform: translateX(-1em);
  width: 4em;
  background-color: midnightblue;
  border-radius: 0.6em;
  animation: depth-turn 8s ease-in-out infinite;
}

#phone {
  display: grid;
  /* opacity: 0; */
  place-items: center;
  box-sizing: content-box;
  position: relative;
  height: 12em;
  width: 6em;
  background-color: steelblue;
  border-radius: 0.6em;
  transition: background-color;
  animation: turn 8s ease-in-out infinite;
}

#animated-phone-nav {
  position: absolute;
  height: 12em;
  width: 6em;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

#phone-screen {
  position: absolute;
  height: 12em;
  width: 6em;
  overflow: hidden;
  border-radius: 0.6em;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  border: 2px solid steelblue;
}

/* phone screen animation classes */
.y-scroll {
  animation: screen-scroll 4s ease-in-out alternate infinite;
}

.x-scroll {
  animation: screen-scroll 4s ease-in-out alternate infinite;
}

#phone-camera-area {
  position: absolute;
  display: grid;
  place-items: center;
  width: 3em;
  height: .5em;
  background-color: steelblue;
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .3em;
  top: 0;
  margin: 0 auto;
  z-index: 20;
}

#phone-camera {
  position: absolute;
  height: 2px;
  width: 1em;
  border-radius: .4px;
  background-color: black;
}

#phone-camera::after {
  content: '';
  position: absolute;
  right: -6px;
  height: 100%;
  width: 2px;
  background-color: black;
}

.shine {
  position: absolute;
  width: 2em;
  height: 15em;
  top: -1.5em;
  right: 8em;
  transform: rotateZ(20deg);
  background-color: white;
  opacity: 0.08;
  animation: shine 8s ease-in-out infinite;
}

@keyframes shine {
  0% {
    left: -3em;
    opacity: 0.05;
  }
  50% {
    left: 8em;
    opacity: 0.09;
  }
  100% {
    left: -3em;
    opacity: 0.05;
  }
}

@keyframes turn {
  0% {
    transform: rotateY(30deg) translateX(-4px);
    background-color: #588392;
  }
  50% {
    transform: rotateY(0) translateX(0);
    background-color: #7AA5B4;
  }
  100% {
    transform: rotateY(30deg) translateX(-4px);
    background-color: #588392;
  }
}

@keyframes screen-scroll {
  0% {
    background-position: top;
  }
  20% {
    background-position: top;
  }
  40% {
    background-position: center;
  }
  60% {
    background-position: center;
  }
  80% {
    background-position: bottom;
  }
  100% {
    background-position: bottom;
  }
}

@media only screen and (min-width: 768px){
  #phone-outer-container {
    font-size: 1rem;
  }
  #image-container {
    margin: 1em auto;
  }
}

/* rehype colors */
/* pink code highlight */
[data-chars-id="p"] {
  /* background-color: #BB33BB22 !important; */
  border-color: hotpink;
}

/* blue code highlight */
[data-chars-id="b"] {
  /* background-color: #5555FF22 !important; */
  border-color: skyblue;
}

/* green code highlight */
[data-chars-id="y"] {
  /* background-color: #BB990022 !important; */
  border-color: bisque;
}

/* utility for hiding scroll bars */

.no-scrollbars::-webkit-scrollbar {
  display: none;
}

.no-scrollbars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
